.navbar {
    margin-bottom: 0;
    background-color: #4604fd;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}
  
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
  
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #4604fd !important;
    background-color: #fff !important;
}
  
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.iconNav{
tab-size: 20px;
size: 20px;
}

.btn-purple{
    color: #fff !important;
    background-color: #1d006e;
}

.btn-purple-light{
    color: #fff !important;
    background-color: #4604fd;
}

.jumbotron {
    background-color: #4604fd; /* purple */
    color: #ffffff;
    padding: 100px 25px;

}

.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.logo {
    color: #4604fd;
    font-size: 200px;
  
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail img {
  width: 200px;
  height: 300px;
  margin-bottom: 10px;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #4604fd;
  }